.search-form {
  width: 100%;
  /* font-size: 1rem;
  padding: 0.4rem;
  font-family: inherit;
  border: none;
  background-color: #e9ecef;
  color: #495057;
  border-radius: 0.2rem;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.1);
  margin-bottom: 0.5rem; */
}
