/* .chart-container {
  align-items: center;
} */

.add-charts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  justify-self: center;
  margin-bottom: 2rem;
}

.warning-show {
  display: flex;
  justify-content: center;
  align-self: center;

  margin-bottom: 2rem;
}

.main-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2rem;
  gap: 30rem;
}

.add-btn {
  background-color: rgb(41, 41, 223);
  color: #f8f9fa;
  font-size: 1rem;
  font-weight: bold;
}

.add-btn:hover,
.add-btn:active {
  background-color: rgb(217, 217, 233);
  color: #f8f9fa;
}

.search-form {
  width: 20%;
  font-size: 1rem;
  padding: 0.4rem;
  font-family: inherit;
  border: none;
  background-color: #e9ecef;
  color: #495057;
  border-radius: 0.2rem;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.1);
  margin-bottom: 0.5rem;
}

.expense-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.expense-label {
  display: block;
  font-weight: bold;
}
